@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Base styles */
:root {
  /* Colors*/
  --color-muted: hsl(215, 51%, 70%);
  --color-primary: hsl(178, 100%, 50%);
  --color-white: hsl(0, 0%, 100%);
  --color-neutral-line: hsl(215, 32%, 27%);
  --color-neutral-card:  hsl(216, 50%, 16%);
  --color-neutral-main: hsl(216, 50%, 16%);
  /* Typography */
  --font-family: "Outfit", sans-serif;
  --font-size: 18px;
}

body {
  font-family: var(--font-family);
  color: var(--color-white);
  background: var(--color-neutral-main);
}

/* Custom Selectors */
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

/* Utilities */
.color-muted {
  color: var(--color-muted);
}

.color-primary {
  color: var(--color-primary);
}